<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="head">
        <meta charset="UTF-8"/>
        <title th:utext="${info.getTitle()}">Scavenger Hunt</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/vnd.microsoft.icon"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/fonts/ubuntu/ubuntu.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/fonts/noto-emoji/noto-emoji.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/lib/materialize.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
        <script type="text/javascript" th:src="@{/js/lib/progressbar.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/lib/typewriter.js}"></script>
    </th:block>
</head>
<body>
<th:block th:fragment="body-trailing-scripts">
    <script type="text/javascript" th:src="@{/js/lib/materialize.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <script type="text/javascript" th:src="@{/js/quest.js}"></script>
    <script th:inline="javascript">
        const codeIsCorrectMessage = /*[[${info.getCodeIsCorrectMessage()}]]*/ "Yey, that was correct 🥳";
        const codeFromPath = /*[[${code} != null ? ${code} : '']]*/ "";
        window.onload = function () {
            if (codeFromPath) {
                validateCode(codeFromPath);
            }
        };
    </script>
</th:block>
</body>
</html>