<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <meta charset="UTF-8"/>
    <title>Scavenger Hunt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/vnd.microsoft.icon"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts/ubuntu/ubuntu.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts/noto-emoji/noto-emoji.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/lib/materialize.min.css}"/>
    <link th:replace="~{fragments/floating-squares :: squares-css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" th:src="@{/js/lib/progressbar.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/typewriter.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <p>Page content will go here</p>
</div>
<div th:replace="~{fragments/floating-squares :: squares-content}"></div>
<script type="text/javascript" th:src="@{/js/lib/materialize.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/quest.js}"></script>
<script th:inline="javascript">
    const codeIsCorrectMessage = /*[[${info.getCodeIsCorrectMessage()}]]*/ "Yey, that was correct 🥳";
    const codeFromPath = /*[[${code} != null ? ${code} : '']]*/ "";
    window.onload = function () {
        if (codeFromPath) {
            validateCode(codeFromPath);
        }
    };
</script>
</body>
</html>